.menu-holder {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lightblue;
  }
  
  li {
    display: inline-block;
    padding: 8px;
    cursor: pointer;
    background-color: lightblue;
    border-right: solid 1px lightcoral;

    &:last-child {
      border-right: none;
    }

    &:hover {
      background-color: lightcoral;
    }

    a {
      text-decoration: none;
    }
  }
}
