@import '../styles/base';

.c-menu {
  display: block;

  &__item {
    background-color: $third-color;
    border: none;
    padding: 5px;
    color: $secondary-color;
    display: inline-block;
    cursor: pointer;
    font-size: 1.2rem;

    &--hover {
      &:hover {
        background-color: lighten($third-color, 10);
      }
    }
  }
}
