// $columns: 12;

// %float-styles {
//   float: left;
// }

// @mixin col-x-list {
//   @for $i from 1 through $columns {
//       .col-#{$i}-m { @extend %float-styles; }
//   }
// }

// @include col-x-list;
// /home/administrator/batcave/pin-mouse/pin-mouse-app/node_modules/sass-mq/_mq.scss
@import 'node_modules/sass-mq/mq';
// /home/administrator/batcave/pin-mouse/pin-mouse-app/node_modules/open-color/open-color.scss
@import 'node_modules/open-color/open-color.scss';
// /home/administrator/batcave/pin-mouse/pin-mouse-app/node_modules/susy/sass/_susy.scss

// $columns: susy-repeat(12, 120px);
@import 'node_modules/susy/sass/susy';
@import 'variables';
/*test*/

@include mq('tablet') {
  .a-class {
    color: #000;
  }
}

@each $key,$val in $color-list {
  .color--#{$key} {
    color: #{$val};
    background-color: $oc-red-5;
  }
}

@each $key,$val in $color-list {
  .header--#{$key} {
    // color: #{$val};
    // @extend .color--#{$key};
    // @include .color--#{$key};
  }
}

// $columns: susy-repeat(12, 120px);
$susy: ('columns': susy-repeat(12));

/*test2*/
.float {
  width: span(3);
  margin-right: gutter();
}

/*testing &*/
%first-color {
  padding-left: 20px;
}

.test {
  color: red;

  &__item {
    background-color: green;

    &--first {
      padding-right: 30px;

      @extend %first-color;
    }
  }
}
