@import 'styles/variables';

html, body {
  height: 100vh;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.App-logo {
  height: 100px;
}

.App-header {
  // height: 20%;
  text-align: center;
  background-color: $primary-color;
  padding: 20px;
  // display: flex;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
  color: white;
}

.App-intro {
  font-size: large;
}
