html, body {
  height: 100vh; }

#root {
  height: 100%; }

.App {
  height: 100%; }

.App-logo {
  height: 100px; }

.App-header {
  text-align: center;
  background-color: #222;
  padding: 20px;
  align-items: center;
  justify-content: center; }

.App-title {
  font-size: 1.5em;
  color: white; }

.App-intro {
  font-size: large; }
